@model IEnumerable<MyMvcApp.Models.Subject>

<h2>Subjects</h2>

<a asp-action="CreateSubject" class="btn btn-success mb-3">+ Add Subject</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.Name</td>
            </tr>
        }
    </tbody>
</table>
